* { padding:0; margin:0; }

body { color:#393733; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	font-size:100.1%; 
}

p { margin:0 1em 1em }
a { color: #05386b; text-decoration:none; }
a.visited, a.active { color: #05386b; text-decoration:none; }
a:hover { color: #000; text-decoration: underline;}
img { border: none; }

#container{ width:85%;margin:0 auto; max-width: 95em; min-width: 65em; padding-top: 1.5em; font-size:0.75em; }
#container{ text-align:left; }

#content .section {
	line-height:1.4em;
	padding: 1em 0 0 0;
}

#content .details {
	border-top: 1px solid #C6E5F1;
	border-bottom: 1px solid #C6E5F1;
	background: #EBF6FA;
	padding-bottom: 0em;
	margin: 1em 0 0 0;
	position: relative;
}
	.details h3 { margin: 0 0.5em 0.5em; font-size:1.4em; }
	.details h3 span { font-size:80%; }
	.details img { vertical-align: middle; line-height:1em; }
	.details p { margin-left:3em;}

#content .menu { 
	border-bottom: 1px solid #C6E5F1;
	background: #fafad3;
	margin-bottom: 1em;
	padding: 0.5em;
}
